.container {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.asidecontainer {
    width: 100%;
    display:flex;
    flex-direction:column;
    row-gap: 1rem;
}
.aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

.listbutton {
    width: 4rem;
    height: 4rem;
    background-color: #FFFFFF;
  
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #67C2D4 -10px 8px 0px;
    align-self: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.number {
    display: inline-block;
    font-size: 3rem;
}
.textarea {
    width: 100%;
}

.buttonContainer {
    width:30%;
    align-self: flex-end;
    position: relative;
    margin-top: 2rem;
}


@media only screen and (max-width: 600px) {
    .buttonContainer {
        max-width:80px;
        width: 35%;
    }
    
    .listbutton {
        width: 3rem;
        height: 3rem;
        box-shadow: #67C2D4 -5px 5px 0px;
    }
    .number{
        font-size: 2rem;
    }
    .asidecontainer{
        width:100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .asidecontainer{
        width: 100%;
    }
    
   
}

@media only screen and (min-width:1440px)
{
    .buttonContainer{
        max-width: 180px;
    }
}
