.textarea{
    width:100%;
    resize:none;
    background-color: #FFFFFF;
    border: none;
    font-size: 3rem;
    padding:15px;
    min-height: 100px;
    overflow-y: hidden;
    word-spacing: 2px;
    line-height: 4rem;

}

@media only screen and (max-width:600px){
  .textarea{
    min-height: 30px;
    height:50px;
    font-size: 1.5rem;
    padding: 5px;
    line-height: 3rem;
  }

}