.container{
    width:50%;
    display:flex;
    flex-direction:column;
    row-gap: 3vw;
    align-items: center;
    position:relative;
    
}
.placeholder{
    width:35vw;
    height:25vw;
    background-color: #FFFFFF;
    box-shadow: #67C2D4 20px 25px 0px;
}
input[type="file"]{
    color:transparent;
    display:none;
    width:0;
    height: 0;
}
input::file-selector-button{
    display:none;
    width:0;
    height: 0;
}

.label{
    width:10vw;
    height:3vw;
    background-color: #FFFFFF; 
    border-right:8px solid #67C2D4;
    border-top:8px solid #67C2D4;
    border-bottom:4px solid #67C2D4;
    border-left:4px solid #67C2D4;
    text-align: center;
    padding-top:0.3vw;
    font-size: 1.3rem;
    cursor: pointer;
    position:absolute;
    bottom:-5vw;
    right:4.2vw;
    color:#CB625F;
    font-weight: bold;

}
.image{
    width:40vw;
    height: auto;
}