.container {
    width: 100%;
    max-width:600px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}
.placeholder {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 7/5;
    background-color: #FFFFFF;
    box-shadow: #67C2D4 20px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.image{
  width: 100%;
    max-width: 100%;
}
.placeholder p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
input[type="file"]{
    color:transparent;
    display:none;
    width:0;
    height: 0;
}
input::file-selector-button{
    display:none;
    width:0;
    height: 0;
}


.labelContainer {
    width: 35%;
    position: relative;
    margin-top: 4rem;
    align-self: flex-end;
}
.label, .shadow {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}
.label {
    background-color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CB625F;
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 100%;

}
.shadow {
    background-color: #67C2D4;
    position: absolute;
    transform: translate(10px, 10px);
    color: #67C2D4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    cursor: pointer;
    width: 100%;
    height: 50px;
}


@media only screen and (max-width: 600px){
   .labelContainer{
    margin-top: 2rem;
    min-width: 90px;
    max-width: 90px;
   } 
   .label, .shadow {
        font-size: 1.2rem;
        height: 30px;
    }
    .labelContainer {
        width: 45%;
        left: 10%;
    }
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }
}
@media only screen and (min-width: 1024px)
{

    .container{
        max-width: 400px;
        row-gap: 1rem;
    }
    .shadow, .label {
        font-size: 1.3rem;
        height: 40px;
    }
    
}
@media only screen and (min-width:601px) and (max-width: 1024px)
{
    .labelContainer{
        width: 45%;
        left: 2%;
        margin-top: 2rem;
    }
    .placeholder{
        box-shadow: #67C2D4 15px 15px 0px;
    }
    .container{
        position: relative;
        right:1rem;
    }
    
}

