.container{
    display:flex;
    row-gap:3rem;
    flex-direction: column;

}
input[type="file"]{
    color:transparent;
    display:none;
    width:0;
    height: 0;
}
input::file-selector-button{
    display:none;
    width:0;
    height: 0;
}

.labelContainer {
    width: 25%;
    position: relative;
    height: fit-content;
}

.label, .shadow {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}

.label {
    background-color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CB625F;
    cursor: pointer;
    position: absolute;
    height: 50px;
    font-size: 2rem;
    width: 100%;

}

.shadow {
    background-color: #67C2D4;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #67C2D4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 2rem;
}
.image{
    width:60%;
    height: auto;
    align-self: center;
    margin-bottom:3rem;
    
}
.textarea{
    width:100%;
    display:flex;
    column-gap: 3rem;
}
.listbutton{
    width: 4rem;
    height:4rem;
    background-color: #FFFFFF;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: #67C2D4 -10px 8px 0px;
    align-self: center;
    flex-shrink: 0;
    flex-grow: 0;   
    

}
.number{
    display:inline-block;
    font-size: 3rem;
    white-space: nowrap ;
}
.buttonContainer{
    width:15rem;
    align-self: flex-end;
}
.inputContainer{
    display:flex;
    flex-direction: column;
    row-gap:1rem;
    width:100%;

}

@media only screen and (max-width:600px){
    .container{
        row-gap:1rem;
    }
    .textarea{
        column-gap: 1rem
    }
    
    
    .labelContainer {
        width: 44%;
        max-width: 90px;
        height: 30px;
        position: relative;
    }
    .label, .shadow {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
    }
    .listbutton {
        width: 3rem;
        height: 3rem;
        box-shadow: #67C2D4 -5px 5px 0px;
        
    }
    .number {
        font-size: 2rem;
    }
    .image{
        width:100%;
    }

    .buttonContainer{
        width: 10rem;
    }
}

@media only screen and (min-width:601px) and (max-width: 1024px)
{
  
    .placeholder{
        box-shadow: #67C2D4 15px 15px 0px;
    }
    .container{
        position: relative;
        row-gap: 1rem;
    }
    .label, .shadow {
        font-size: 1.2rem;
        height: 40px;

    }
}

@media only screen and (min-width:1440px)
{
   .labelContainer{
    max-width: 220px;
   }

}