*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat Alternates", sans-serif;
}

.title{
    margin-top: 1rem;
    font-size: 12rem;
    margin-right: 2rem;
    color:#3988A4;
    align-self: flex-end;
    font-weight: bold;
    font-family: "Playfair";
}



svg text{
    font-family: "Playfair", serif;
    text-transform: uppercase;
}

html{
    width:100%;
    font-size: 12px;
    max-width: 1600px;
    margin: 0 auto;
}
main{
    display:flex;
    flex-direction: column;
}




body {
    background-color: #D0944D;
    overflow-x: hidden;

}


.submit {
    font-size: 4rem;
    width: 15%;
    max-width: 300px;
    height: 6rem;
    margin: 3rem auto 2rem auto;
    position: relative;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #3988A4 60px -10px 0px, #67C2D4 -80px 10px 0px, #CB625F 0px 35px 0px;
    font-weight: bold;
    margin-bottom: 5rem;
}


 .asideContainer {
    padding:2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
 }  
 .svgContainer{
    width:50%;
 }
 .aside{
    width:50%;
 }



 

 @media only screen and (max-width:600px){
    
    html{
        font-size: 8px;

    }
    body{
        width:100%;
    }   
    
    .asideContainer{
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .svgContainer{
        width: 100%;
        
    }
    .aside{
        width:100%;
    }
    .title{
        font-size:7rem;
    }
    .submit {
        font-size:4rem;
        width: 40%;
        height: 50px;
        margin-top:15rem;
        margin-bottom: 10rem;
        box-shadow: #3988A4 40px -15px 0px, #67C2D4 -45px 5px 0px, #CB625F 0px 20px 0px;
    }
 
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    html{
        font-size: 10px;
    }
    .submit{
        width: 170px;
        height: 5rem;
        margin-top:15rem;
        margin-bottom: 10rem;
        box-shadow: #3988A4 55px -10px 0px, #67C2D4 -70px 10px 0px, #CB625F 0px 30px 0px;
    }
    h1{
        font-size: 8rem;
    }

}
